


.VirtualBox
.cache
.config/Code
.config/QtProject.conf
.config/audacious/config
.config/audacious/playlist-state
.config/audacious/playlists/1000.audpl
.config/audacious/playlists/1002.audpl
.config/audacious/playlists/order
.config/composer
.config/dconf
.config/pulse
.config/sublime-text
.config/tox
.config/transmission
.config/youtube-viewer
.dotnet
.local/share/Trash
.local/share/composer
.local/share/flatpak
.local/share/gvfs-metadata
.local/share/mc/filepos
.local/share/mc/history
.local/share/recently-used.xbel
.local/state
.mozilla
.npm
.pki
.ssh
.sync_settings
.vscode
.w3m
.zcompdump-hyprland-5.9
.zcompdump-hyprland-5.9.zwc
.zsh_history
/.config/VirtualBox
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Torrents
/Videos
/Code
/.wine
.wine
/.local/share/applications
