
.cache
.config/Code
.config/audacious/playlist-state
.config/audacious/playlists/1000.audpl
.config/audacious/playlists/order
.config/composer
.config/dconf
.config/sublime-text
.dotnet
.local/share/Trash
.local/share/composer
.local/share/flatpak
.local/share/gvfs-metadata
.local/share/mc/history
.local/state
.mozilla
.npm
.pki
.ssh
.sync_settings
.vscode
.w3m
/Downloads
/Music
/Torrents
.local/share/mc/filepos
.local/share/recently-used.xbel
